<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <meta charset="UTF-8">
    <title>You Are In TaskBoard Now</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <h2>ADD TASK</h2>
        <thead>
        <tr>
            <td>Title</td>
            <td>Text</td>
            <td>Due to</td>
            <td>Submit</td>
        </tr>
        </thead>
        <form class="form-taskboard" th:action="@{/taskboard/newTask}" method="post">
        <tbody>
        <tr>
            <td>
                <input type="text" name="title" id="inputTaskTitle" class="form-control" placeholder="Title"required=""/></td>
            <td>
                <input type="text" name="text" id="inputTaskText" class="form-control" placeholder="Text"required=""/>
            </td>
            <td>
                <input type="date" name="dueTo" id="inputTaskDueTo" class="form-control" placeholder="Due To" value="dd-MMM-yyyy"/>
            </td>
            <td>
                <button class="btn btn-lg btn-success btn-block" type="submit">Add Task</button>
            </td>
        </tr>
        </tbody>
        </form>
    </table>

    <table class="table table-bordered table-striped">

        <thead>
        <h2>TASKS</h2>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Text</td>
            <td>Due to</td>
        </tr>
        </thead>
         <tbody>
        <tr  th:each="task :${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.title}"></td>
            <td th:text="${task.text}"></td>
            <td th:date="${task.dueTo}"></td>
        </tr>

        </tbody>

    </table>
</div>
</body>
</html>
